body{
    margin: 0 auto;
}

.block_chart{
    z-index: 1111;
    padding: 10px;
    background-color: #fff;
    position: absolute;
    width: 40%;
    right: 2%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 85%;
    box-shadow: 0px 3px 36px 19px rgba(0,0,0,0.2);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}
.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #009688;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(19px, 0);
    }
}


.loader_div{
    position: absolute;
    right: 45%;
    top: 44%;
}

.show_information{

}

.canvasjs-chart-credit{
    display: none !important;
}


.weather_block{
    padding: 20px 20px;
    background: #fff;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.1);
}


.weather_col{
    font-size: 32px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-10{
    margin: 10px 0;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-20{
    margin: 20px 0;
}

.weather_icon{
    font-size: 32px;
}

.weahter_date{
    font-size: 12px;
    color: #676767;
}

.z-index{
    z-index: 11;
}

.bottom_show_inf{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding:10px
}

.leaflet-control-attribution{
    display: none;
}

.logo{
    position: absolute;
    z-index: 111111;
    top: 20px;
    padding: 10px;
    left: 0;
    border-radius: 0px 5px 5px 0;
    width: 242px;
    background-color: #fff;
}

.zoom{
    position: absolute;
    z-index: 111111;
    top: 90px;
    padding: 10px;
    left: 0;
    border-radius: 0px 5px 5px 0;
    /*width: 40px;*/
    background-color: #fff;
}

.zoom h2{
    margin: 0;
    font-size: 18px;
}


.logo img{
    width: 100%;
}

@media (min-width: 1024px) {
    .block_chart{
        top:8%;
    }
}

@media(max-width: 480px){
    .zoom h2{
        font-size: 15px;
        margin: 0;
        top: 80px;
    }
    .logo{
        width: 40%;
    }

    .block_chart{
        width: 100%;
        right: 0;
        height: 230px;
        overflow: hidden;
        bottom: 0;
        border-radius: 0;
    }

}