<html>
<head>
    <title>GreenMap.uz</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/1.1.1/angular-chart.min.js"></script>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <script src="http://angular-ui.github.io/ui-leaflet/dist/ui-leaflet.min.js"></script>
    <script src="http://angular-ui.github.io/ui-leaflet/bower_components/angular-simple-logger/dist/angular-simple-logger.js"></script>

    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">


</head>
<body ng-app="tozahavo" ng-controller="main">

<leaflet center="center" tiles="tiles" style="width: 100%; height: 100%; position:absolute;"
         event-broadcast="events"></leaflet>
<!--<div id="mapid" style="width: 100%; height: 100%; position:absolute;"></div>-->

<div class="logo">
    <img src="images/gm.png">
</div>

<div class="zoom">
    <h2>Zoom: {{center.zoom}}</h2>
</div>


<div class="zoom" style="top: 150px;">
    <h2>{{ satellite ? "Спутник" : "Карта деревьев" }}</h2>

    <button class="margin-top-10 btn btn-success" ng-click="satellite=!satellite">{{ !satellite ? "Спутник" : "Карта деревьев" }}</button>
</div>

<div class="block_chart" ng-show="showInfo">
    <div class="loader_div" ng-show="showInfoLoading">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <div class="show_information" ng-show="!showInfoLoading">

        <div ng-show="chartShow">
            <canvas id="bar" class="chart chart-bar"
                    chart-data="chart.data" chart-labels="chart.labels" chart-series="chart.series"
                    chart-options="chart.options">
            </canvas>
        </div>
        <div ng-show="!chartShow">

            <div class="col-md-6 col-xs-12 weather_block">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <div class="weather_icon">
                            <i class="glyphicon glyphicon-map-marker"></i>
                        </div>

                    </div>

                    <div class="col-md-8 col-xs-8 text-right">
                        <div class="weather_col">
                            <span>{{areaInfo.total_area.toFixed(2)}}</span> km<sup>2</sup>
                        </div>
                        <br>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 weather_block">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <div class="weather_icon">
                            <i class="glyphicon glyphicon-tree-deciduous"></i>
                        </div>

                    </div>

                    <div class="col-md-8 col-xs-8 text-right">
                        <div class="weather_col">
                            <span id="total_area">{{areaInfo.area.toFixed(2)}}</span> km<sup>2</sup>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-12 hidden-xs margin-top-20">
                <div class="row">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active progress_daraxtlar" role="progressbar"
                             aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{areaInfo.perc}}%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                </div>

                <img id="imgg" src="{{areaInfo.source_img}}">
                <img id="img_analys" src="{{areaInfo.analyzed_img}}">
            </div>
        </div><!--ng show -->


        <div class="bottom_show_inf">
            <button class="btn btn-block btn-primary btn-lg" ng-show="!arraySelect" ng-click="buttonAdd()">
                <i class="glyphicon glyphicon-retweet"></i> Сравнить
            </button>

            <button class="btn btn-block btn-warning btn-lg" ng-show="arraySelect" ng-click="addRect()">
                <i class="glyphicon glyphicon-plus"></i> Добавить еще
            </button>

            <button class="btn btn-block btn-lg btn-success" ng-show="arraySelect" ng-click="endSelected()">
                <i class="glyphicon glyphicon-floppy-disk"></i> Закончить
            </button>

            <button class="btn btn-block btn-success btn-lg margin-top-10" ng-show="!arraySelect" ng-click="closeFunc()"
                    id="close">
                <i class="glyphicon glyphicon-remove-circle"></i> Закрыть
            </button>
        </div>

    </div>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/map-handler.js"></script>

</body>
</html>